<article>
  <section>

<h2>{{ title }} app is running!</h2>
<h3> today is {{ today |date }}</h3>
<ul>
  <li *ngFor='let item of products'>
      {{item.desc}} {{item.price | currency: 'GBP'}}
   </li>
</ul>
<button *ngIf='flag' type="button" name="cookieButton" (click)='handleClick()'>Agree</button>
<aside [hidden] = 'showFlag'>this is css hidden</aside>
<img [src]='myURL'/>
<app-cone></app-cone>
<app-ctwo></app-ctwo>
<app-fb [id]=otherId (myEvent)='handleCustomEvent()'></app-fb>
</section>
</article>
